/* font-family: 'Fredoka One', cursive; */



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 35px;
}






.title .title-style{
font-family: 'Fredoka One', cursive;
text-align: center;
margin-bottom: 15px;
}


.img{
    height: 100%;
    float:left;
}

.parag{
    text-align: center;
    font-style: normal;
}


.cards{
    clear: both;
    padding-top: 40px;
    /* height: 80px; */
    /* width: calc(100%/3); */

}


.card-info{
    background-color: black;
    height: 80px;
    width: 240px;
    font-size: 12px;
    float: left;
}

    

.card-desc{
    display: inline-block;
    color: rgb(246, 37, 37);
}

.name,
.job,
.mail{
padding: 5px;
color: red;
}
