/* font-family: 'Fredoka One', cursive; */



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    max-width: 1050px;
    margin: 0 auto;
    padding: 35px;
    clear: both;
}






.title .title-style{
font-family: 'Fredoka One', cursive;
text-align: center;
margin-bottom: 15px;
color: #cc3273;
}


.img{
    height: 100%;
    float:left;
}

.parag{
    text-align: center;
    font-style: normal;
}


.cards{
    padding: 40px;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
    



.card-info{
    background-color: black;
    height: 80px;
    width: 270px;
    font-size: 12px;
    float: left;
    margin: 15px;
    box-shadow: 10px 10px 10px 5px gray;
}
/* .card-info:nth-of-type(3n+3){
    clear: right;
} */

    

.card-desc{
    display: inline-block;
    padding: 10px;
}

.name,
.job,
.mail{
margin-bottom: 5px;
color: whitesmoke;
font-family: Arial, Helvetica, sans-serif;
}


.mail{
    color: cornflowerblue;
}

.name{
font-family: 'Fredoka One', cursive;
}



    
